@tailwind base;
@tailwind components;
@tailwind utilities;

.review-comment {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 6rem;
}
